GIGACHAT_CREDENTIALS=your_base64_credentials_here
GIGACHAT_SCOPE=GIGACHAT_API_PERS

GIGACHAT_LLM_MODEL=GigaChat
GIGACHAT_EXPAND_MODEL=GigaChat

LOCAL_EMBEDDING_MODEL=paraphrase-multilingual-MiniLM-L12-v2

EMBEDDING_CACHE=./data/emb_cache

USE_RERANKER=true
RERANKER_MODEL=cross-encoder/mmarco-mMiniLMv2-L12-H384-v1

CHROMA_PATH=./data/chroma
STATE_PATH=./data/pipeline_state.pkl

PARENT_CHUNK_SIZE=1500
CHILD_CHUNK_SIZE=400
CHUNK_OVERLAP=50
RETRIEVAL_TOP_K=6